.videoTitle {
    margin-bottom: 0;
}

.videoSong {
    color: white;
    font-style: italic;
}

.videoSong a {
    color: white;
    text-decoration: none;
}

.video>div {
    height: 100% !important;
    width: 100% !important;
}