.background {
    pointer-events: none;
    position: absolute;
    opacity: 10%;
    background: radial-gradient(600px at var(--bg-pos-x) var(--bg-pos-y), var(--theme-color-background-hover), transparent 80%);
    width: 100%;
    height: 100%;
}