:root {
    --border-radius: 4px;
    --color-code: #8a6534;
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --size-content: 54rem;
}

html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font: sans-serif;
    font-size: var(--theme-font-medium);
    line-height: var(--line-height-normal);
    overflow-y: scroll;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--theme-color-text);
    font-family: sans-serif;
    font-family: var(--font-sans);
    font-weight: normal;
    margin: 0;
    word-wrap: break-word;

    --theme-size-space-1: 4px;
    --theme-size-space-2: 8px;
    --theme-size-space-3: 16px;
    --theme-size-space-4: 24px;
    --theme-size-space-5: 32px;
    --theme-size-space-6: 64px;
    --theme-size-space-7: 128px;
    --theme-size-gap: 64px;
    --theme-font-large: 18px;
    --theme-font-medium: 16px;
    --theme-font-small: 14px;
    --theme-font-xsmall: 12px;

    /* TODO: handle theme styles better */
    --theme-color-gradient-1: #efb4a2;
    --theme-color-gradient-2: #e8a4be;
    --theme-color-gradient-3: #a0d4e5;
    --theme-color-gradient-4: #93e2cf;
    --theme-color-background-hover: #FFFFFF;
    --theme-color-black: #000000;
    --theme-color-white: #FFFFFF;
    --theme-color-primary: #0000FF;
    --theme-color-background: #FFFFFF;
    --theme-color-text: #000000;
    --theme-color-navigation: #FFFFFF20;
}

body.dark-mode {
    --theme-color-gradient-1: #67127c;
    --theme-color-gradient-2: #32094B;
    --theme-color-gradient-3: #341666;
    --theme-color-gradient-4: #020B7C;
    --theme-color-background-hover: #67127c;
    --theme-color-black: #000000;
    --theme-color-white: #FFFFFF;
    --theme-color-primary: #fff993;
    --theme-color-background: #000000;
    --theme-color-text: #FFFFFF;
    --theme-color-navigation: #00000020;
}

a {
    background-color: transparent;
    color: var(--theme-color-primary);
    text-decoration: none;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: none;
}

abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
    line-height: var(--line-height-dense);
    letter-spacing: -0.01em;
}

h1>b {
    color: var(--theme-color-primary);
}

img {
    border-style: none;
    max-width: 100%;
}

code,
kbd,
pre,
samp {
    font-family: var(--font-mono);
    font-size: 1em;
    line-height: inherit;
}

hr {
    box-sizing: content-box;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: calc(var(--theme-space-4) - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
    margin: 0;
    padding: 0;
    margin-bottom: var(--theme-space-4);
}

ul,
ol {
    margin-left: var(--theme-space-4);
    list-style-position: outside;
    list-style-image: none;
}

pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--theme-space-4);
    font-size: 0.875rem;
    line-height: var(--line-height-normal);
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: var(--border-radius);
    overflow: auto;
    word-wrap: normal;
    padding: var(--theme-space-4);
}

b,
strong,
dt,
th {
    font-weight: bold;
}

li {
    margin-bottom: calc(var(--theme-space-4) / 2);
}

ol li,
ul li {
    padding-left: 0;
}

li>ol,
li>ul {
    margin-bottom: calc(var(--theme-space-4) / 2);
    margin-left: var(--theme-space-4);
    margin-top: calc(var(--theme-space-4) / 2);
}

blockquote *:last-child {
    margin-bottom: 0;
}

li *:last-child {
    margin-bottom: 0;
}

p *:last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: calc(var(--theme-space-4) / 2);
}

p {
    max-width: 680px;
}

code {
    font-size: 0.875rem;
}

kbd {
    font-size: 0.875rem;
}

samp {
    font-size: 0.875rem;
}

abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

tt,
code {
    background-color: var(--theme-color-background);
    border-radius: var(--border-radius);
    color: var(--color-code);
    font-family: var(--font-mono);
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    word-break: normal;
}

pre code {
    background: none;
}

code:before,
code:after,
tt:before,
tt:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
    content: none;
}